
body {
    background: #eaf4fc; 
    font-size: 16px;
    color: #222222;
    text-align: left;
    margin: 20px;
}

h1 {
    background-color: #1a3d7c;
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
}

nav {
    background-color: #ffd700;
    text-align: center;
    padding: 12px;
    border-radius: 8px;
    margin: 20px 0;
    font-weight: bold;
}

nav a {
    color: #1a3d7c;
    font-size: 18px;
    text-align: center;
    margin: 0 10px;
}

.secao {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    margin: 15px 0;
    border-radius: 12px;
    font-size: 16px;
}


.secao h2 {
    color: #1a3d7c;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    background: #f0f4ff;
    padding: 10px;
    border-radius: 6px;
}

.secao p {
    font-size: 17px;
    color: #444444;
    text-align: justify;
    font-weight: normal;
}

.voltar {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #1a3d7c;
}

.botao-tabela {
    background-color: #1a3d7c;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 14px 28px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.botao-tabela:hover {
    background-color: #ffd700;
    color: #1a3d7c;
}